{% extends 'base.html.twig' %}

{% block body %}
    <h1>MovimientoInventario list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipomovimiento</th>
                <th>Fecha</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for movimientoInventario in movimientoInventarios %}
            <tr>
                <td><a href="{{ path('movimientoinventario_show', { 'id': movimientoInventario.id }) }}">{{ movimientoInventario.id }}</a></td>
                <td>{{ movimientoInventario.tipoMovimiento }}</td>
                <td>{% if movimientoInventario.fecha %}{{ movimientoInventario.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('movimientoinventario_show', { 'id': movimientoInventario.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('movimientoinventario_edit', { 'id': movimientoInventario.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('movimientoinventario_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
